body{
  font-size: 2em;
}
#problem-area {
  width: 100%;
  line-height: 150%;
}

#problem-area .drop-section {
  font-size: 1em;
  line-height: 1.4em;
  min-height: 3em;
  display: none;
}

.field {
  min-height: 1.2em;
  min-width: 4em;
  background-color: rgb(158,158,158);
  display: inline-block;
  vertical-align: middle;
}

.has-error {
  box-shadow: 0px 0px 9px 2px #FF0000;
}

#word-bank {
  list-style: none;
  border: 1px solid black;
}


.snippet {
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
  margin: 1px;
  background-color: rgb(208,208,208);
}

.message {
  text-align: center;
  padding: .5em;
  width: 10em;
  display: none;
  font-size: 2em;
  border: 3px solid red;
}

.message.successMessage{
  color: black;
  border-color: green;
}
