<!DOCTYPE html>
<html lang="en" ng-app="probleeApp">

<head>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script type="text/javascript" src="js/vendor/ngDraggable/ngDraggable.js"></script>
  <script type="text/javascript" src="js/app.js"></script>

</head>

<body ng-controller="probleeDragDropController">
  <div id="content">
    <h1>Problee</h1>
    <div class="contrainer-fluid">
      <div class="row">
        <div class="col-xs-12" data-ng-model="introText">
          {{introText}}
        </div>
        <section class="col-xs-12">
          <div id="problem-area">
<pre class="drop-section" >
function() {
  var foo = <span class="field field0" ng-drop="true" ng-drop-success="onDropComplete(0,$data,$event)" ng-click="onClick(0)">{{fields.field0.userAnswer}}</span>;
  <span class="field field1" ng-drop="true" ng-drop-success="onDropComplete(1,$data,$event)" ng-click="onClick(1)">{{fields.field1.userAnswer}}</span> foo;
}
</pre>
          </div>
        </section>
      </div>
      <div class="message"></div>
      <section class="col-xs-12" >
        <ul id="word-bank" ng-model="wordBank">
          <li data-ng-repeat="word in wordBank" class="snippet" ng-drag="true" ng-drag-success="onDragSuccessBank($data,$event)" ng-drag-data="word">
            {{word}}
          </li>
        </ul>
      </section>
      <div class="col-xs-12" id="bottom-buttons">
        <button id="submit" ng-click="submitAnswer()" class="btn btn-primary" type="button">Submit</button>
      </div>
    </div>
  </div>
</body>

</html>
